<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7c1e000-0000-4000-a000-000000000003" Alias="Cycle Block List" Level="1">
  <Info>
    <Name>Cycle Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c7c1e000-0000-4000-a000-000000000001",
      "settingsElementTypeKey": null,
      "label": "Cycle Block"
    },
    {
      "contentElementTypeKey": "52fd42e5-d54a-484c-97bd-7305fc807190",
      "label": "Test Block"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>