<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2b3c4d5-e6f7-4801-abcd-000000000001" Alias="Multiple Content Picker" Level="1">
  <Info>
    <Name>Multiple Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 0,
  "minNumber": 0,
  "multiple": true
}]]></Config>
</DataType>