<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c9b9097-b109-4fed-a2db-f06ff1d878d7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-04-02T03:55:28</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d4c53-b45b-7b56-a60c-3e4c5119078d">Home</Template>
  </Info>
  <Properties>
    <cycleBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c7c1e000-0000-4000-a000-000000000001",
      "key": "c7c1e000-0000-4000-a000-000000000006",
      "values": [
        {
          "alias": "linkedPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/7c9b9097b1094feda2dbf06ff1d878d7"
        }
      ]
    },
    {
      "contentTypeKey": "52fd42e5-d54a-484c-97bd-7305fc807190",
      "key": "1a801de2-f474-4bc2-943f-65c6af88ca03",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        },
        {
          "alias": "summary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003ETest content proworks\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c7c1e000-0000-4000-a000-000000000001",
      "key": "2222d5dc-75b5-44dc-ba7b-1e4765069ea4",
      "values": [
        {
          "alias": "linkedPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/d753e0b110814c00b8c7a0cef4798c6f"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c7c1e000-0000-4000-a000-000000000006",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1a801de2-f474-4bc2-943f-65c6af88ca03",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2222d5dc-75b5-44dc-ba7b-1e4765069ea4",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c7c1e000-0000-4000-a000-000000000006",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1a801de2-f474-4bc2-943f-65c6af88ca03",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2222d5dc-75b5-44dc-ba7b-1e4765069ea4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </cycleBlocks>
    <featuredItems>
      <Value><![CDATA[umb://document/f3d79d4be4ce4ae7aca7771157da27c6,umb://document/d753e0b110814c00b8c7a0cef4798c6f,umb://document/b10a000100004000a000000000000001]]></Value>
    </featuredItems>
    <heroCtaLabel>
      <Value><![CDATA[Explore Our Services]]></Value>
    </heroCtaLabel>
    <heroCtaLink>
      <Value><![CDATA[[
  {
    "name": "Explore Our Services",
    "target": "",
    "unique": null,
    "type": null,
    "udi": "umb://document/d753e0b110814c00b8c7a0cef4798c6f",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </heroCtaLink>
    <heroHeadline>
      <Value><![CDATA[Welcome to Our World — Ideas, Stories & Resources for Growth]]></Value>
    </heroHeadline>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "16f6c0f2-830d-4bb8-8ebb-bb70832446d7",
    "mediaKey": "aaf69a81-da41-48b1-a3a1-d5c09dd17c73",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubheadline>
      <Value><![CDATA[Discover ideas, stories, and resources to help you grow.]]></Value>
    </heroSubheadline>
    <introHeading>
      <Value><![CDATA[Why We Do What We Do]]></Value>
    </introHeading>
    <introText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe believe in the power of thoughtful design and purposeful technology. Our team brings together expertise in digital strategy, content creation, and software development to help organisations thrive in a connected world.\u003C/p\u003E\n\u003Cp\u003EWhether you\u2019re looking to improve your online presence, launch a new product, or better understand your audience, we\u2019re here to help every step of the way.\u003C/p\u003E"
}]]></Value>
    </introText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogImage>
      <Value><![CDATA[[
  {
    "key": "27a7f3f3-8c9a-4ca1-ab86-2ea92f5476ce",
    "mediaKey": "aaf69a81-da41-48b1-a3a1-d5c09dd17c73",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ogImage>
  </Properties>
</Content>