<?xml version="1.0" encoding="utf-8"?>
<Media Key="f05b2053-bfa1-4b6e-849a-e6007d818e87" Alias="headless.jpg" Level="2">
  <Info>
    <Parent Key="6f3bdeba-eaa8-4ec0-9a55-4a065a58b489">Hero Images</Parent>
    <Path>/HeroImages/headlessjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-13T21:19:26</CreateDate>
    <NodeName Default="headless.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1tvb0rwi/headless.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>