<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f3bdeba-eaa8-4ec0-9a55-4a065a58b489" Alias="Hero Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-04-02T05:24:39</CreateDate>
    <NodeName Default="Hero Images" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>