<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7cc77b4-7915-4373-a4b0-d2a624c985ab" Alias="marvin-meyer-SYTO3xs06fU-unsplash.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/marvinMeyerSYTO3xs06fUUnsplashjpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-02T05:20:38</CreateDate>
    <NodeName Default="marvin-meyer-SYTO3xs06fU-unsplash.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ho4juyl2/marvin-meyer-syto3xs06fu-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>