<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc63ff84-f3a2-4a15-b90b-0bea332b6115" Alias="search.jpg" Level="2">
  <Info>
    <Parent Key="6f3bdeba-eaa8-4ec0-9a55-4a065a58b489">Hero Images</Parent>
    <Path>/HeroImages/searchjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-13T21:22:21</CreateDate>
    <NodeName Default="search.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bm0dk0wl/search.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>