<?xml version="1.0" encoding="utf-8"?>
<Media Key="cce909b0-76e5-4c49-952c-35b1eb9de2f9" Alias="vlad-hilitanu-1FI2QAYPa-Y-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="6f3bdeba-eaa8-4ec0-9a55-4a065a58b489">Hero Images</Parent>
    <Path>/HeroImages/vladHilitanu1FI2QAYPaYUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-02T05:22:59</CreateDate>
    <NodeName Default="vlad-hilitanu-1FI2QAYPa-Y-unsplash.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h5bl44um/vlad-hilitanu-1fi2qaypa-y-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>